.container {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60vw;
  margin: 10vw;
}

.forexConversion {
  display: flex;
  flex-direction: column;
}

.input{
  display: flex;
  flex-direction: column;
}
.output {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em;
}