.container {
  display: flex;
  flex-direction: column;
  margin: 10vh;
  justify-content: center;
  align-items: center;
}

.output {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em;
}